.offers{
  width: 65%;
  height: 60vh;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #335d9f, #7270b9 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.offers-left{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1{
  color: #131921;
  font-size: 60px;
  font-weight: 600;
}

.offers-left button{
  width: 180px;
  height: 45px;
  border-radius: 35px;
  background: #131921;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;

  height: 100%;
}

.offers-right img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

@media(max-width:1280px){
  .offers{
    padding: 0px 80px;
    margin-bottom: 20px;
  }

  .offers-left h1{
    font-size: 40px;
  }

  .offers-right img{
    width: 300px;
  }

  .offers-left button{
    width: 180px;
    height: 45px;
    font-size: 22px;
  }

  .offers-right{
    padding-top: 30px;
  }
}

@media(max-width:1024px){
  .offers{
    padding: 0px 60px;
    margin-bottom: 80px;
    height: 40vh;
  }

  .offers-left h1{
    font-size: 30px;
  }

  .offers-right img{
    width: 200px;
  }

  .offers-left button{
    width: 130px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
  }

  .offers-right{
    padding-top: 30px;
  }
}

@media(max-width:800px){
  .offers{
    margin-bottom: 60px;
  }

  .offers-left h1{
    font-size: 20px;
  }

  .offers-right img{
    width: 180px;
  }

  .offers-left button{
    width: 90px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
  }
}

@media(max-width:500px){
  .offers{
    height: 25vh;
    margin-bottom: 50px;
  }

  .offers-right img{
    width: 500px;
  }

  .offers-left h1{
    font-size: 19px;
  }
}